<div class="col">
<button type="button" > Nouveau  </button>
  <div class=" col m-3 ">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Quantite</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let Produit of ProduitService; let i = index">
        <tr>
          <td>{{ Produit.id }}</td>
          <td>{{ Produit.nom }}</td>
          <td>{{ Produit.quantite }}</td>
          <td>
             <!--Bouton Modifier -->
            <button type="button" class="btn btn-primary">
              Modifier
            </button>
            <!-- Bouton Supprimer -->
            <button type="button" class="btn btn-danger" >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
